body{
    background-image: url('../img/bg3.jpg');
    background-size: cover ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(153, 153, 130);
}
.mainContent{
    margin-top: 100px;
    /* border: 1px solid brown; */
    padding: 10px;
}

.card{
    padding: 10px;
    margin: 5px;
    opacity: .7;
    cursor: pointer;
}
.card:hover{
    opacity: 1;
}